body{
  background: #fff;
  padding: 25px 50px;
  font-size: 1.6em;
  font-weight: 500;
}



header{
    width: 100%;
    height: 450px;
    color: aqua;
    background: url('../images/mel0839_New_York_City_at_night._Dark_colour_palette._Vivid_flas_9ee0fd09-a268-44fb-a585-6193c69bbd85.png');
}